@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap");

*{ /* Reset */
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    /* overflow-x: hidden; */

}

body {
    background: #f7f7f7;
}